<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="clinicForm" *ngIf="newAnimal">
    <form [formGroup]="clinicForm" class="center">
      <ng-template matStepLabel>Sélectionnez une clinique</ng-template>
      <mat-form-field>
        <mat-label>Clinique</mat-label>
        <mat-select formControlName="clinic" (selectionChange)="fetchOwners()">
          <mat-option *ngFor="let clinic of clinics" value="{{clinic.numclinique}}">
            {{clinic.numclinique}} - {{clinic.nom}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button color="accent" matStepperNext [disabled]="clinicForm.invalid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="ownerForm">
    <form [formGroup]="ownerForm" class="center">
      <ng-template matStepLabel>Sélectionner le propriétaire</ng-template>
      <mat-form-field>
        <mat-label>Propriétaire</mat-label>
        <mat-select formControlName="owner">
          <mat-option *ngFor="let owner of owners" value="{{owner.numproprietaire}}">
            {{owner.numproprietaire}} - {{owner.nom}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button color="accent" matStepperPrevious *ngIf="newAnimal">Back</button>
        <button mat-button color="accent" matStepperNext [disabled]="ownerForm.invalid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Entrez les informations de l'animal</ng-template>
    <form [formGroup]="animalForm" ng-submit="submit()">
      <div class="group">
        <span class="tag">Numéro :</span>
        <mat-form-field *ngIf="newAnimal">
          <input type="text" matInput placeholder="Ex: A0000" formControlName="numAnimal" maxlength="5">
        </mat-form-field>
      </div>
      <div class="group">
        <span class="tag">Nom :</span>
        <mat-form-field>
          <input type="text" matInput placeholder="Ex: Cachou" formControlName="nom">
        </mat-form-field>
      </div>
      <div class="group">
        <span class="tag">Type d'animal :</span>
        <mat-form-field>
          <input type="text" matInput placeholder="Ex: Chat" formControlName="type">
        </mat-form-field>
      </div>
      <div class="group-tall">
        <span class="tag">Description :</span>
        <mat-form-field>
          <textarea matInput cols="40" rows="4" formControlName="description"></textarea>
        </mat-form-field>
      </div>
      <div class="group">
        <span class="tag">Date de naissance :</span>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Ex: 4/1/2019" formControlName="dateNaissance">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="group" *ngIf="!newAnimal">
        <span class="tag">État :</span>
        <mat-form-field>
          <mat-label>État</mat-label>
          <mat-select formControlName="etat">
            <mat-option value="Vivant">
              Vivant
            </mat-option>
            <mat-option value="Decede">
              Décédé
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="center">
        <button mat-button color="accent" matStepperPrevious>Back</button>
        <button type="submit" mat-button color="accent" (click)="submit()"
          [disabled]="animalForm.invalid">{{newAnimal ? "Ajouter": "Modifier"}}</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>