form {
    text-align: center;
}

mat-form-field {
    width: 50%;
    margin-top: 4%;
}

.mat-expansion-panel-header-title, 
.mat-expansion-panel-header-description {
  flex: 1;
}

table {
  width: 80%;
}

tr.mat-footer-row {
  font-weight: bold;
}