form {
    text-align: center;
}

.bar-top {
    width: 100%;
    margin-top: 4%;
    text-align: center;
}

.mat-expansion-panel-header-title, 
.mat-expansion-panel-header-description {
  flex: 1;
}

button.mat-raised-button, form {
  display: inline-block;
}

form {
  width: 40%;
  margin-right: 20px
}

mat-form-field {
  width: 100%
}

button.mat-raised-button mat-icon {
  margin-left: 5px;
}

table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.align-end {
  right: 10px;
  position: absolute;
  z-index: 10;
  margin-top: 4px;
}