form {
    text-align: center;
}

.bar-top {
    margin-top: 4%;
}

.bar-bottom {
  margin-bottom: 4%;
}

.mat-expansion-panel-header-title, 
.mat-expansion-panel-header-description {
  flex: 1;
}

button.mat-raised-button, form {
  display: inline-block;
}

form {
  width: 40%;
  margin-right: 20px
}

mat-form-field {
  width: 100%;
}

button.mat-raised-button mat-icon {
  margin-left: 5px;
}

.add-button {
  width: 100%;
}

.search-bar {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}