<div class="bar-top">
  <form ng-submit="submit()">
    <mat-form-field>
      <input type="text" matInput placeholder="Nom de l'animal" [formControl]="searchInput">
      <button mat-button matSuffix (click)="submit()" [disabled]="searchInput.invalid" color="accent">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" (click)="openModal()">
    <span>Ajouter</span>
    <mat-icon>add</mat-icon>
  </button>
</div>

<div *ngIf="submitted">
  <h3>{{animalInfos ? animalInfos.length : 0}} Résultat{{animalInfos && animalInfos.length > 1 ? "s": ""}}</h3>
  <mat-divider></mat-divider>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let info of animalInfos; index as i">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{info.animal.numAnimal}} - {{info.animal.nom}}
        </mat-panel-title>
        <mat-panel-description>
          Clinique : {{info.animal.numClinique}} - Propriétaire : {{info.animal.numProprietaire}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="align-end">
        <button mat-button color="accent" (click)="editAnimal(info.animal, i)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <mat-tab-group dynamicHeight>
        <mat-tab label="Information">
          <p>Date de naissance : {{info.animal.dateNaissance.toLocaleDateString()}}</p>
          <p>Date d'inscription : {{info.animal.dateInscription.toLocaleDateString()}}</p>
          <p>Type : {{info.animal.type}}</p>
          <p>État : {{info.animal.etat}}</p>
          <p>Description : {{info.animal.description}}</p>
        </mat-tab>
        <mat-tab label="Traitements">
          Large content
        </mat-tab>
        <mat-tab label="Facture">
          <div *ngIf="info.bill">
            <table mat-table [dataSource]="info.bill.treatments">
              <ng-container matColumnDef="traitement">
                <th mat-header-cell *matHeaderCellDef> Traitement </th>
                <td mat-cell *matCellDef="let treatment"> {{treatment.numTraitement}} </td>
                <td mat-footer-cell *matFooterCellDef> Total </td>
              </ng-container>

              <ng-container matColumnDef="quantite">
                <th mat-header-cell *matHeaderCellDef> Quantité </th>
                <td mat-cell *matCellDef="let treatment"> {{treatment.quantite}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <ng-container matColumnDef="cout">
                <th mat-header-cell *matHeaderCellDef> Coût </th>
                <td mat-cell *matCellDef="let treatment"> {{treatment.prix | currency}} </td>
                <td mat-footer-cell *matFooterCellDef> {{info.bill.totalPrice | currency}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
</div>