<mat-grid-list cols="2">
  <mat-grid-tile>
    <mat-card routerLink="/animal">
      <mat-card-header>
        <mat-card-title>Animaux</mat-card-title>
        <mat-card-subtitle>Could be something</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://cdn.stocksnap.io/img-thumbs/960w/P4JMKV4T0M.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          BLA BLA BLA
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Propriétaires</mat-card-title>
        <mat-card-subtitle>Ajout de quelque chose?</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://cdn.stocksnap.io/img-thumbs/960w/HYXYE3VLY0.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          BLA BLA BLA
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>