<mat-grid-list cols="2">
  <mat-grid-tile>
    <mat-card routerLink="/animal">
      <mat-card-header>
        <mat-card-title>Animaux</mat-card-title>
        <mat-card-subtitle>Recherchez des animaux</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://cdn.stocksnap.io/img-thumbs/960w/P4JMKV4T0M.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p class="cit"><cite>Tout comme l'homme, les animaux ressentent le plaisir et la douleur, le bonheur et le
            malheur.</cite></p>
        <p class="end">- Charles Darwin</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card routerLink="/proprietaire">
      <mat-card-header>
        <mat-card-title>Propriétaires</mat-card-title>
        <mat-card-subtitle>Visualisez les propriétaires</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://cdn.stocksnap.io/img-thumbs/960w/HYXYE3VLY0.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p class="cit"><cite>L'Homme est le seul des animaux à croire à des Dieux.</cite></p>
        <p class="end">- Platon</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>