<mat-sidenav-container>
  <mat-sidenav opened mode="side">
    <h2 mat-subheader>Navigation</h2>
    <mat-nav-list>
      <a mat-list-item routerLink="/acceuil">
        <mat-icon>home</mat-icon><span>Acceuil</span>
      </a>
      <a mat-list-item routerLink="/animal">
        <mat-icon>pets</mat-icon><span>Animaux</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary"><span>VetoSansFrontieres</span></mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>