<mat-sidenav-container>
  <mat-sidenav opened mode="side">
    <h2 mat-subheader>Navigation</h2>
    <mat-nav-list>
      <a mat-list-item routerLink="/accueil">
        <mat-icon>home</mat-icon><span>Accueil</span>
      </a>
      <a mat-list-item routerLink="/animal">
        <mat-icon>pets</mat-icon><span>Animaux</span>
      </a>
      <a mat-list-item routerLink="/proprietaire">
        <mat-icon>person</mat-icon><span>Propriétaires</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <h1>VetoSansFrontieres</h1>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>